<!-- Load jQuery -->

<head>
	<meta charset="utf-8">
	<meta name="viewport" width="device-width, initial-scale=1.0">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Dawit Hailu">
	<!-- favicon
	<link rel="shortcut icon" href="/img/ico/favicon.png"> or
<link rel="shortcut icon" type="image/x-icon" href="/img/ico/favicon.ico">
	-->
	

<link rel="apple-touch-icon" sizes="180x180" href="https://github.com/Daweet/Daweet.github.io/tree/master/favicon_package_v0/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://github.com/Daweet/Daweet.github.io/tree/master/favicon_package_v0/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://github.com/Daweet/Daweet.github.io/tree/master/favicon_package_v0/favicon-16x16.png">
<link rel="manifest" href="https://github.com/Daweet/Daweet.github.io/tree/master/favicon_package_v0/site.webmanifest">
<link rel="mask-icon" href="https://github.com/Daweet/Daweet.github.io/tree/master/favicon_package_v0/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="https://github.com/Daweet/Daweet.github.io/tree/master/favicon_package_v0/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="https://github.com/Daweet/Daweet.github.io/tree/master/favicon_package_v0/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
	
	<title>{{ page.title }} | Dawit Hiluf Hailu.</title>		
	<!-- styles -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/jumbotron-narrow.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/syntax.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
  <script src="../../assets/js/html5shiv.js"></script>
  <script src="../../assets/js/respond.min.js"></script>
	<![endif]-->
	<!-- google analytics - i will not share this data with google -->
	{% include analytics.html %}	
</head>
